<section>
    <aside class="author-info card mb-5">
        <!-- <div class="card-header text-center">
            ARC-CODES
        </div> -->

        <div class="card-body">
            <div class="text-center">
                <img class="avatar mb-4" src="/assets/images/about/aaron-avatar.jpg" alt="">
            </div>

            <h3 >Aaron Cox</h3>
            <small>
                <b>Programmer (noun):</b><br/>
                An Organism that converts caffeen into code
            </small>

            <small>

            </small>
        </div>
        <div class="list-group list-group-flush border-top border-bottom">
            <a href="/about" class="list-group-item list-group-item-action">About</a>
            <a href="#" class="list-group-item list-group-item-action">Contact Me</a>
        </div>

    </aside>
</section>