---
layout: default
---


{% include breadcrumbs.html %}

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">
        {% include author_aside.html %}
    </div>
    <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <section>
            <article class="card mb-4">

                

                <div class="card-body markdown">

                    {% if page.no-title %}
                        <!-- no title -->    
                    {% else %}
                    <div class="mb-4 mt-4">
                        <h1>{{ page.title }}</h1>
                        <small style="font-size: small">{{ page.date | date_to_string }} - {{ page.author }}</small>
                    </div>
                    {% endif %}

                    {{ content }}
                </div>
            </article>
        </section>
    </div>
</div>